extends layout.pug

block content
  tr
    td.alert(class='alert-primary')  #{alertText}
  tr
    td.content-wrap
      meta(itemprop='name', content='#{emailSummary}')
      table(width='100%', cellpadding='0', cellspacing='0')
        tr
          td.content-block
            = `${name}, I'm super excited to hear more about ${project ? project : 'your project'}. `
            | If you haven't already, please answer some initial questions by clicking the button below. It takes about 5-10 minutes and will make your estimate more thorough.
        tr
          td.content-block  Thank you!
        tr
          td.content-block  &mdash; Julian
        tr
          td.content-block(itemprop='handler', itemscope='', itemtype='http://schema.org/HttpActionHandler')
            a.btn(href='https://goo.gl/forms/i8TwGVYpMkrrk5hj2', class='btn-primary', itemprop='url')= `Answer Questions About ${project ? project : 'your project'}`
            |  
            span.small (Takes about 5-10 minutes)
